.container {
  position: relative;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  cursor: pointer;
  
  border-radius: 0.5rem;
  transition: all 300ms ease;

  @media ($min-width-sm) {
    height: 2.5rem;
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.modeDefault {
  padding: 0 1.25rem;
  gap: 0.75rem;
}

.modeIcon {
  width: 2.25rem;

  @media ($min-width-sm) {
    width: 2.5rem;
  }
}

.variantPrimary {
  background: $color-brand;
  color: $color-brand-contrast;
  border: 1px solid $color-brand;

  &:hover {
    color: $color-base;
    border-color: $color-base;
  }

  &:focus-visible {
    color: $color-brand-contrast;
    border-color: $color-brand;
    box-shadow: 0 0 0 0.2rem rgba($color-brand, 0.35);
  }
}

.variantGhost {
  background: $color-gray-button;
  border: 1px solid $color-gray-button;

  &:hover {
    color: $color-brand;
  }

  &:focus-visible {
    color: $color-brand;
    border-color: $color-brand;
    box-shadow: 0 0 0 0.2rem rgba($color-brand, 0.35);
  }
}