.heroContainer {
  padding-block: $spacing-y-xxl;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $font-family;
  text-wrap: balance;
  gap: $spacing-y-xs;

  @media ($min-width-lg) {
    width: 720px;
  }

  h1 {
    margin: 0;
    font-size: $font-display;
    font-weight: 600;

    span {
      color: $color-brand;
    }
  }

  p {
    margin: 0;
    font-size: $font-lead;
    line-height: 1.35;
    font-weight: 300;
  }
}